#root{
    --chats: #00aeff;
    --login: #00aeff;
    --login2: #0080bb;
    --background: #444; 
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
body{
    margin: 0;
}
.chat{
    display: flex;
    flex-direction: column;
    background-color: #222;
    justify-content: end;
    width: 100%;
    height: 100vh;
}
.chat-content{
    display: flex;
    flex-direction: column;

    padding: 10px;
    background-color: white;
    height: 100%;
    overflow: auto;
}
.btn-login{
    min-height: 40px;
    color: white;
    background-color: var(--login);
    border-radius: 5px;
    border: 0 none;
}
.btn-login i{
    margin-right: 10px;
}
.btn-login:hover{
    background-color: var(--login2)
}
.btn-logout{
    --login: #666;
    --login2: #555;
}
.user-content{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    width: 100%;
    max-width: 200px;
    padding: 10px;
    row-gap: 15px;
}
.user-state{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
.user-state img{
    border-radius: 100%;
    margin: auto;
    max-width: max-content;
    background-color: white;
}
.user-state h3{
    margin: auto;
    text-align: center;
    color: white;
}
.barra-chat{
    display: flex;
    min-height: 50px;
    justify-content: space-around;
    align-items: center;
}
.barra-chat .text, .barra-chat .btn{
    height: 70%;
    margin: 0px 5px;
}
.barra-chat .text{
    border: solid 1px #d4d3d3;
    font-size: inherit;
    border-radius: 6px;
    outline: none;
    flex-grow: 6;
}
.barra-chat .btn{
    padding: 0;
    border: none;
    border-radius: 15px;
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--login);
    color: white;
}
.barra-chat .btn:hover{
    background-color: var(--login2);
}
.barra-chat .emojis{
    bottom: 4rem;
    position: fixed;
}

.msg{
    display: flex;
    max-width: 60%;
    margin-bottom: 1rem;
}
.msg-img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-top: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.msg h5{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.date{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: left;
}

.msg-text{
    margin: 5px 2px 5px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--chats);
    padding: 10px;
    max-width: fit-content;
    text-align: left;

    border-radius: 10px;
    border-bottom-left-radius: 0;

    margin-left: 0;
    margin-right: auto;
}

.date.own{
    text-align: right;
}
.msg-text.own{
    border-radius: 10px;
    border-bottom-right-radius: 0;
    margin-left: auto;
    margin-right: 0;
}
.msg.own{
    display: flex;
    flex-direction: row-reverse;
    --chats: #a600c7;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}


.barra-mobile{
    display: flex;
    min-height: 2.5rem;
    align-items: center;
}
.barra-mobile i{
    color: white;
    margin-left: 1rem;
    cursor: pointer;
}


.hide{
    display: none;
}

@media screen and (max-width: 767px) {
    #root{
        flex-direction: column-reverse;
    }
    .user-content{
        width: auto;
        max-width: none;
        padding: 0;
        height: 100vh;
    }
    .barra-chat .text{
        height: 2rem;
    }
    .btn-login{
        margin: 1rem;
    }
}